{% extends "base.html" %}
{% block title %}Practice Creation{% endblock %}
{% block body %}


<div class="col-lg-12">
   
	
	<form method="POST" action="{{ url_for('practice_.new_practice') }}">
	  {{ form.hidden_tag() }}
	  <div class="form-group">
	  {{ form.title.label }}
	    {% if form.title.errors %}
	      {% for e in form.title.errors %}
	       <p class="help-block">{{ e }}/p>
	      {% endfor %}
	    {% endif %}
        {{ form.title(class_='form-control')}}
	  </div>

	  <div class="form-group" id="markdown">
	  {{ form.text.label }}
	  {% if form.text.errors %}
	    {% for e in form.text.errors %}
	      <p class="help-block">{{ e }}</p>
	    {% endfor %}
	  {% endif %}

	  {{ form.text(id="editor", class='form-control') }}
	  	
	  </div>
	  <input class="btn btn-primary" type="submit" value="提交">
	  
	</form>

</div>

<!-- <script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>
<script>editor=CKEDITOR.replace('editor');</script> -->
<link rel="stylesheet" href="http://lab.lepture.com/editor/editor.css" />
<script type="text/javascript" src="http://lab.lepture.com/editor/editor.js"></script>
<script type="text/javascript" src="http://lab.lepture.com/editor/marked.js"></script>
<script type="text/javascript">
var editor = new Editor();
editor.render();
</script>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}


{# 注意一下静态文件的路径 #}
