
{% extends "base.html" %}
{% block title %}user inform{% endblock %}
{% block body %}
    
    <div class="row">
        <div class="col-lg-9">
            <button type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-user"></span>{{ current_user.username }}
            </button>
            <ul class="nav nav-tabs">
                <li>
                    <a href="{{ url_for('.user_admin') }}">Tiezi</a>
                </li>
                <li   class="active">
                    <a href="{{ url_for('.user_info_setting', username=current_user.username) }}">Information</a>
                </li>
            </ul>
            <hr>
            <div class="">
            <div>
            
        </div>
    </div>

    <form method="POST" action="{{ url_for('.edit_user_inform', id=user.id) }}">
		  {{ form.hidden_tag() }}
		  <div class="form-group">
		  {{ form.nick_name.label }}
		    {% if form.nick_name.errors %}
		      {% for e in form.nick_name.errors %}
		       <p class="help-block">{{ e }}/p>
		      {% endfor %}
		    {% endif %}
	        {{ form.nick_name(class_='form-control',value=user.nick_name) }}
		  </div>

      <div class="form-group">
      {{ form.class_major.label }}
        {% if form.class_major.errors %}
          {% for e in form.class_major.errors %}
           <p class="help-block">{{ e }}/p>
          {% endfor %}
        {% endif %}
          {{ form.class_major(class_='form-control',value=user.class_major) }}
      </div>

      <div class="form-group">
      {{ form.blog_addr.label }}
        {% if form.blog_addr.errors %}
          {% for e in form.blog_addr.errors %}
           <p class="help-block">{{ e }}/p>
          {% endfor %}
        {% endif %}
          {{ form.blog_addr(class_='form-control',value=user.blog_addr) }}
      </div>

      <div class="form-group">
      {{ form.github_addr.label }}
        {% if form.github_addr.errors %}
          {% for e in form.github_addr.errors %}
           <p class="help-block">{{ e }}/p>
          {% endfor %}
        {% endif %}
          {{ form.github_addr(class_='form-control',value=user.github_addr) }}
      </div>
      
      <div class="form-group">
      {{ form.description.label }}
      {% if form.description.errors %}
        {% for e in form.description.errors %}
          <p class="help-block">{{ e }}</p>
        {% endfor %}
      {% endif %}
        {% set f = form.description.process_data(user.description) %}
        {{ form.description(class_='form-control') }}
      </div>
      
		  <input class="btn btn-primary" type="submit" value="update">
			
	  </form>

{% endblock %}
