{% extends "base.html" %}
{% block title %}群链接分享{% endblock %}
{% block body %}
    <div class="row">
   
        <div class="col-lg-9">
        <center><h2>Glinks</h2></center>
            {% for glink in glinks.items %}
                <div class="panel panel-info">
                    <div class="panel-heading"><a href={{ glink.url  }}><h4>{{ glink.title }}</a></h4></div>

                    <div class="panel-body">
                        {{ glink.text | truncate(250) | delete_html() }}

                        <a href={{ glink.url  }}>查看>></a>
                    </div>
                    <div class="panel-footer">shared by:{{ glink.sharer }} 
                                              on : {{ glink.received_date | deal_time() }}
                                            
                                    
                    </div>
                </div>    
            {% endfor %}
        </div>
    </div>
    {{ render_pagination(glinks, '.glinks') }}
{% endblock %}
