{% extends "base.html" %}
{% block title %}动态首页{% endblock %}
{% block body %}
    <div class="row">

        <div class="col-lg-9">
            {% for post in post_list %}
            <div class="panel panel-info">
                    <div class="panel-heading"><a href="{{ url_for('.post', post_id=post.id) }}"><h4>{{ post.title }}</a></h4></div>

                    <div class="panel-body">
                        {{ post.text | truncate(250) | delete_html() }}

                        <a href="{{ url_for('.post', post_id=post.id) }}">查看>></a>
                    </div>
                    <div class="panel-footer">by:{{ post.user.username }} 
                                              on : {{ post.publish_date | deal_time() }}
                                            follow : {{ post.comments.order_by(Comment.date.desc()).all() | length }}
                                    
                    </div>
            </div>    

            {% endfor %}
        </div>
    </div>

{% endblock %}






