

{% macro render_pagination_my_posts(pagination, route_func) %}
    <nav>
        <ul class="pagination">
            {# 上一页 #}
            <li>
                <a href="{{ url_for(route_func, page1=pagination.prev().page, page2=1) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page != pagination.page %}
                        <li><a href="{{ url_for(route_func, page1=page, page2=1 ) }}">{{ page }}</a></li>
                    {% else %}
                        <li><a href="">{{ page }}</a></li>
                    {% endif %}
                {% else %}
                    <li><a>…</a><li>
                {% endif %}
            {% endfor %}
            {# 下一页 #}
            <li>
                <a href="{{ url_for(route_func, page1=pagination.next().page, page2=1) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endmacro %}


{% macro render_pagination_my_reply_posts(pagination, route_func) %}
    <nav>
        <ul class="pagination">
            {# 上一页 #}
            <li>
                <a href="{{ url_for(route_func, page2=pagination.prev().page, page1=1) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page != pagination.page %}
                        <li><a href="{{ url_for(route_func, page2=page, page1=1 ) }}">{{ page }}</a></li>
                    {% else %}
                        <li><a href="">{{ page }}</a></li>
                    {% endif %}
                {% else %}
                    <li><a>…</a><li>
                {% endif %}
            {% endfor %}
            {# 下一页 #}
            <li>
                <a href="{{ url_for(route_func, page2=pagination.next().page, page1=1) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endmacro %}







{% extends "base.html" %}
{% block title %}user admin{% endblock %}
{% block body %}
    
    <div class="row">
        <div class="col-lg-9">
            <button type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-user"></span>{{ current_user.username }}
            </button>

            <span class="glyphicon glyphicon-star"><a href="{{ url_for('main.role_activate', role_name='admin') }}">管理员权限激活</a></span>
            <span>  </span>
            <span class="glyphicon glyphicon-star"><a href="{{ url_for('main.role_activate', role_name='test_builder') }}">出题者权限激活</a></span>
            <ul class="nav nav-tabs">
                <li  class="active">
                    <a href="{{ url_for('.user_admin') }}">tiezi</a>
                </li>
                <li>
                    <a href="{{ url_for('.user_info_setting', username=current_user.username) }}">Information</a>
                </li>
            </ul>
            <hr>
            <h4>发的帖：</h4>
            

            {% if posts %}

                {% for post in posts.items %}
                    <div class="panel panel-info">
                        <div class="panel-heading"><h5>{{ post.title }}</h5></div>
                        <div class="panel-body">{{ post.text | truncate(500) | safe }}
                            <a href="{{ url_for('.post', post_id=post.id) }}">Read More>></a>
                        </div>
                        <div class="panel-footer">
                            <a href="{{ url_for('.edit_post', id=post.id) }}">
                              <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="{{ url_for('.delete_post_in_user_admin', id=post.id) }}">
                              <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </div>

                {% endfor %}
            {% endif %}
            {{ render_pagination_my_posts(posts, '.user_admin') }}
            <hr>
            <hr>
            <h4>回过的帖：</h4>
            {% if comment_related_posts %}
                {% for cp in comment_related_posts.items %}
                    
                    <div class="panel panel-info">
                        <div class="panel-heading"><h5>{{ cp.post.title }}</h5></div>
                        <div class="panel-body">{{ cp.post.text | truncate(500) | safe }}
                            <a href="{{ url_for('.post', post_id=cp.post.id) }}">Read More>></a>
                        </div>
                        <div class="panel-footer">
                          <button type="button" data-toggle="collapse" 
                                data-target="#{{ cp.post.id }}">
                            <span class="glyphicon glyphicon-chevron-down"></span>我的评论</span>
                          </button>
                        </div>
                    </div>
                    <div id="{{ cp.post.id }}" class="collapse">
                        
                        {% for comment in Comment.query.filter_by(post_id=cp.post.id, user_id=current_user.id).all() %}

                            <div class="well well-sm">
                                {{ comment.text }}
                                
                                  <a href="javascript:;" onclick="if(confirm('确定要删除？')){location.href='{{ url_for('tiezi.delete_comment_in_user_admin', id=comment.id) }}';}">
                                  <span class="glyphicon glyphicon-trash"></span>
                                  </a>
                                
                            </div>
                        {% endfor %} 
                    </div> 
                    
                {% endfor %}
            {% endif %}
            
            {{ render_pagination_my_reply_posts(comment_related_posts, '.user_admin') }}
        </div>
    </div>






{% endblock %}