{% extends "base.html" %}{# 继承模板 #}
{% block title %} 注册 {% endblock %}{# 修改替换 #}
{% block body %}
<div class="col-lg-12">
  <ul class="nav nav-tabs">
      <li>
          <a href="{{ url_for('main.login') }}">登录</a>
      </li>
      <li class="active">
          <a href="{{ url_for('main.register') }}">注册</a>
      </li>
  </ul>
  <form method="POST" action="{{ url_for('main.register')}}"> {# url_for返回视图函数名字对应url #}
    {{ form.hidden_tag() }}<!--自动加入预防跨站请求的伪造机制-->
    <div class="from_group">
      {{ form.username.label }}
      {% if form.username.errors %}
        {% for e in form.username.errors %}
        <p class="help-block">{{ e }}</p><!--验证失败提示-->
        {% endfor %}
      {% endif %}
      {{ form.username(class_="form-control") }}<!--画出name区域-->
     </div>
     <div class="from_group">
      {{ form.password.label }}
      {% if form.password.errors %}
        {% for e in form.password.errors %}
        <p class="help-block">{{ e }}</p><!--验证失败提示-->
        {% endfor %}
      {% endif %}
      {{ form.password(class_="form-control") }}<!--画出text区域-->
     </div>
      {% if form.errors.verify_code %}
        <div class="form-group has-error required">
        {{ form.verify_code.label(class="control-label") | safe }}
        {{ form.verify_code(class="form-control", required=True) }}
        {% for error in form.errors.verify_code %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
        </div>
        {% else %}
        <div class="form-group required">
        {{ form.verify_code.label(class="control-label") | safe }}
        <label class="control-label"><img src="{{ url_for('static', filename='image/code/'+'code_img.jpg') }}"</label>
        {{ form.verify_code(class="form-control", required=True) }}
        </div>
      {% endif %}
       
     <input class="btn btn-primary" type="submit" value="注册">
  </form>
  <br>
  <br>
  <span><a href="{{ url_for('main.admin_register') }}">管理员注册通道>></a><span>
</div>
{% endblock %}


